In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("south_africa_top40.csv")

In [3]:
df.shape

(3694, 7)

In [4]:
df.columns.tolist()

['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3694 entries, 0 to 3693
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      3694 non-null   object
 1   Price     3694 non-null   object
 2   Open      3694 non-null   object
 3   High      3694 non-null   object
 4   Low       3694 non-null   object
 5   Vol.      3639 non-null   object
 6   Change %  3694 non-null   object
dtypes: object(7)
memory usage: 202.1+ KB

In [6]:
df.isnull().sum()

Date         0
Price        0
Open         0
High         0
Low          0
Vol.        55
Change %     0
dtype: int64

In [7]:
df.head()

         Date      Price       Open       High        Low     Vol. Change %
0  11/10/2024  78,006.74  77,368.30  78,154.08  77,202.30    0.00K    0.83%
1  10/10/2024  77,368.30  77,334.10  77,677.22  77,159.78  150.58M    0.04%
2  09/10/2024  77,334.10  77,473.00  77,532.03  76,641.60  107.36M   -0.18%
3  08/10/2024  77,473.00  78,303.35  78,322.19  76,818.21  154.72M   -1.06%
4  07/10/2024  78,303.35  78,282.37  78,622.15  78,104.27  110.32M    0.03%